<template>
  <div id="app">
    <b-navbar shadow>
      <template slot="brand">
        <b-navbar-item>
          <img
            src="./assets/logo.png"
            alt="Lightweight UI components for Vue.js based on Bulma"
          />
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item href="#">Home</b-navbar-item>
      </template>
    </b-navbar>

    <TodoList />
  </div>
</template>

<script>
import TodoList from './components/TodoList.vue';

export default {
  name: 'App',
  components: {
    TodoList,
  },
};
</script>

<style>
</style>
