<template>
  <div class="container">
    <h3 class="title mt-4">Todo List</h3>
    <b-message type="is-success">
      <p>Connected to <span class="highlight">{{ context.podName }}</span> at <span class="highlight">{{ context.podIp }}</span>.</p>
      <p>Backend Version: <span class="highlight">{{ context.appVersion }}</span></p>
      <p>Auto refresh in <span class="highlight">{{ secondsToRefresh }}</span> seconds.</p>
    </b-message>

    <b-table
      :data="todos"
      :row-class="(row, index) => row.done ? 'disabled-row' : ''">
      <template slot-scope="props">
        <b-table-column field="id" label="ID" width="40" numeric>
          {{ props.row.id }}
          </b-table-column>

        <b-table-column field="title" label="Title">
          {{ props.row.title }}
          </b-table-column>

        <b-table-column field="description" label="Description">
          {{ props.row.description }}
          </b-table-column>

        <b-table-column field="createdOn" label="Creation Date" centered>
          <span class="tag is-success">
            {{ new Date(props.row.createdOn).toLocaleDateString() }}
          </span>
        </b-table-column>

        <b-table-column field="dueOn" label="Due Date" centered>
          <span class="tag is-success">
            {{ new Date(props.row.dueOn).toLocaleDateString() }}
          </span>
        </b-table-column>

        <b-table-column label="Done" width="40" centered>
          <b-checkbox v-model="props.row.done" :disabled="props.row.done"></b-checkbox>
        </b-table-column>
      </template>
    </b-table>
  </div>
</template>

<script>
import TodoListViewModel from './todoListViewModel';

export default TodoListViewModel;
</script>

<style>
.disabled-row {
  color: #888888;
  background-color: #eefcee;
}

.highlight {
  font-weight: bold;
}
</style>
